.cellBg-0 {
    background-color: yellow;
}
.cellBg-1 {
    background-color: lightgreen;
}
.cellBg-2 {
    background-color: lightgrey;
}
.cellBg-3 {
    background-color: lightcoral;
}
.cellBg-4 {
    background-color: lightpink;
}
.cellBg-5 {
    background-color: violet;
}
.cellBg-6 {
    background-color: lightseagreen;
}
.cellBg-7 {
    background-color: lightslategray;
}
.cellBg-8 {
    background-color: lightpink;
}
.cellBg-9 {
    background-color: lightpink;
}