body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

table, th, td {
  border: 0.5px solid black;
  border-collapse: collapse;
  text-align: center;
}

th, td {
  padding: 15px;
  width: 80px;
}

.wrapper {
  width: 1200px;
  height: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
  overflow: auto;
}

.gameList-panel {
  margin-top: 40px;
  width: 35%;
  float: left;
  height: 600px;
  padding: 50px;
  background-color: rgba(115, 146, 148, 0.26);
  border: 0.5px dotted rgb(221, 19, 19);
}

.gameBoard-panel {
  margin-top: 40px;
  width: 65%;
  float: left;
  height: 600px;
  padding: 50px;
  background-color: rgb(176, 232, 241);
  border: 0.5px dotted rgb(0, 0, 0);
}


